
/** op-layout-flexbox:/css/a.css
 *
 * @created     2023-05-09
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

a {
	color: var(--color-link);
}

a:visited {
	color: var(--color-link-visited);
}

a:hover {
	color: var(--color-link-hover);
	text-decoration: none;
}
