
/** op-layout-white:/css/a.css
 *
 * @created     2023-04-16
 * @version     1.0
 * @package     op-layout-white
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
