
/** op-layout-flexbox:/css/body.css
 *
 * @created     2023-05-09
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

body.body {
	border: 0;
    font-size: 10px;
    font-family: Avenir, "Open Sans", sans-serif;
    background-color: var(--color-header-background);
}

body.body * {
    font-size:      1.0rem;
}
