
/** op-layout-white:/css/body.css
 *
 * @created   2017-09-06
 * @version   1.0
 * @package   op-layout-white
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body {
	border: 0;
    font-size: 10px;
    font-family: Avenir, "Open Sans", sans-serif;
}

body.body * {
    font-size:      1.0rem;
}

body.body div.content-area {
	margin: 1em;
}

#header-area,
#footer-area {
	padding: 0 0.5em;
	width: 100vw;
	height: 20px;
	vertical-align: middle;
	display: table-cell;
}

#header-area {
	top: 0;
	position: sticky;

	background-color: var(--root-color-background);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}

#body-area {
	min-height: calc(100vh - 4.5em);
}
