
/** op-layout-bulgaria:/css/body.css
 *
 * @created   2017-09-06
 * @version   1.0
 * @package   op-layout-bulgaria
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body {
	border: 0;
    font-size: 10px;
    font-family: Avenir, "Open Sans", sans-serif;
    background-color: var(--color-header-background);
}

body.body * {
    font-size:      1.0rem;
}
