
/** op-layout-white:/css/color.css
 *
 * @created
 * @version   1.0
 * @package   op-layout-white
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

:root {
	/*
	--root-color-disabled:   #bbb;
	--root-color-border:     #333;
	--root-font-size:         9pt;
	--root-hue:                 0;
	--root-color-text:       #555;
	--root-color-background: #fff;
	*/
	--white-color-h1-text:   #000000;
	--white-color-h1-back:   #fff6e0;
	--white-color-h1-border: #f8b500;
}

/* <?php if( OP()->Config('layout')['darkmode'] ?? true ): ?> */
/** For dark mode.
 *
 * @see       https://www.webcreatorbox.com/tech/dark-mode
 * @created   2019-11-19
 */
@media (prefers-color-scheme: dark) {
	:root {
	/*
	--root-color-text:         #ddd;
	--root-color-background:   #000;
	*/
	--white-color-h1-text:   #000000;
	--white-color-h1-back:   #cfc6a0;
	--white-color-h1-border: #f8b500;
	}
}
/* <?php endif; ?> */
