/**
 * layout-white:/css/color.css
 *
 * @creation  
 * @version   1.0
 * @package   layout-white
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body {
	background-color: white;
	color: black;
}

.background {
	background-color: white;
}

.border {
	1px solid black;
}

@media (prefers-color-scheme: dark) {
	body.body {
		background-color: #38444c;
		color: #f0f2f3;
	}
}
