
/** op-layout-flexbox:/css/color.css
 *
 * @created     2023-05-09
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

:root {
    --color-text:   #050505;
    --color-border: #101010;
    --color-background: rgba(255, 255, 255, 1);
    --color-link:         #0f0ff0;
    --color-link-visited: #0505f5;
    --color-link-hover:   #0505f5;
}

/* <?php if( OP()->Config('layout')['darkmode'] ?? null ): ?> */
/** For dark mode.
 *
 * @see       https://www.webcreatorbox.com/tech/dark-mode
 * @created   2019-11-19
 */
@media (prefers-color-scheme: dark) {
    :root {
    --color-text:   #f0f0f0;
    --color-border: #c0c0c0;
    --color-background: #3D3C3C;
    --color-link:         #b5d5ff;
    --color-link-visited: #b5d5ff;
    --color-link-hover:   #b5d5ff;
    }
}
/* <?php endif; ?> */
