
/** op-layout-bulgaria:/css/color.css
 *
 * @created
 * @version   1.0
 * @package   op-layout-bulgaria
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

:root {
	--color-text:   #050505;
	--color-back:   #fff6e0;
	--color-border: #f8b500;
}
