
/** op-layout-flexbox:/css/flexbox.css
 *
 * @created     2023-05-09
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

html {
    height: 100%;
}

#body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header-area {
    top: 0;
    position: sticky;
}

#body-area {
    margin: 0 1.0rem;
    flex: auto;
    display: flex;
    flex-direction: column;
}

#footer-area {
    bottom: 0;
    position: sticky;
}

#header-area,
#footer-area {
    background-color: inherit;
}

#menu-middle {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#content {
    flex-grow: 1;
}
