
/** op-layout-flexbox:/css/header.css
 *
 * @created     2024-11-18
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

header {
	margin:  0;
	padding: 0.25em 0.25em;
}

header a {
	text-decoration: none;
}
