
/** op-layout-white:/css/markdown.css
 *
 * @created   2024-02-24
 * @version   1.0
 * @package   op-layout-white
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .markdown h1:not(:first-child) {
	padding: 0.5em;
	color: var(--white-color-h1-text);
	background-color: var(--white-color-h1-back);
	border-left: 0.15em solid var(--white-color-h1-border);
	border-radius: 2px;
}
