
/** op-layout-flexbox:/css/reset.css
 *
 * @created     2024-02-07
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

body * {
	font-size   : inherit;
	font-family : inherit;

	transition-property: color, background;
	transition-duration: 0.5s;
}
