
/** op-layout-flexbox:/css/reset.css
 *
 * @created     2024-02-07
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

.body * {
/*
	margin    :       0;
	padding   :       0;
*/

/*
	font-size   :       16px;
	font-family : sans-serif;
*/

	transition-property: color, background;
	transition-duration: 0.5s;
}

/* for input[type="text"], textarea */
.body * {
	font-size   : inherit;
	font-family : inherit;
}
