
/** op-layout-flexbox:/css/testcase.css
 *
 * @created     2023-02-24
 * @version     1.0
 * @package     op-layout-flexbox
 * @author      Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright   Tomoaki Nagahara All right reserved.
 */

p.test {
	color: blue;
	font-weight: bold;
}

body,
#header-area,
#body-area,
#footer-area {
	border: 1px solid black;
}
